<html>
<head>
    <title>MVA Azure Search - por Thiago Lunardi, Microsoft Azure MVP</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Styles/custom.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://twitter.github.com/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
    <script src="~/Scripts/AzureSearchScript.js"></script>
</body>
</html>